<style>
    
    .flex-container {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .container123{
        display:flex;
        flex-flow: row;
        justify-content: center;
    }
    
    .leftcontainer{
        display: flex;
        flex-basis: 70%;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .rightcontainter{
        padding-left: 20px;
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .imagecontainer {
        display: flex;
        width: 50vw;
        flex-direction: row-reverse;
    }
    .images {
        display: flex;
        width: 90vw;
    }
    .verticalradiogroup{
        display: flex; 
        flex-direction: column;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
    .mat-toolbar h4{
        font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 16px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    }


    .panel
{
  position: relative;
  background-size:800px;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  flex: .5;
  margin: 10px;
  transition: all 700ms ease;
}


.panel.active
{
  flex: 5;
}

.subright{
    width: 300px;
}

.buttonsection{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: center;
    grid-gap: 25px;
}

.countsection{
    padding-top: 20px;
}

.mat-slider-horizontal {
    width: 100%;
}

.mat-toolbar {
    background: #0076a5;
    color: white;
}
    </style>
    
    <p>
        <mat-toolbar>
        
        <span>Wisconsin Trails</span>
        <span class="example-spacer"></span>
        <span><h4>Annotate &nbsp;&nbsp;&nbsp;</h4></span>
        <span><h4>Team&nbsp;&nbsp;&nbsp;</h4></span>
      </mat-toolbar>
      </p>
    
    <div class="flex-container">
        <div class="leftcontainer">
            <div class="imagecontainer">
                    <div class="panel active" [style.background-image]="'url(' + imageSrc1 + ')'"></div>
                    <div class="panel" [style.background-image]="'url(' + imageSrc2 + ')'"></div>
                    <div class="panel" [style.background-image]="'url(' + imageSrc3 + ')'"></div>

                    
                    

            </div>
            
        </div>
        <div class="rightcontainter">
            <div class="subright">
                <mat-button-toggle-group fxLayout="row wrap" name="categories_1" [(ngModel)] = "animaltype">
                    <mat-button-toggle fxFlex="50%" value="Turkey" checked>Turkey</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Cottontail" checked>Cottontail</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Fox, Gray" checked>Fox Gray</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Fox, Red" checked>Fox Red</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Bear" checked>Bear</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Coyote" checked>Coyote</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Opossum" checked>Opossum</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Raccoon" checked>Raccoon</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Snowshoe Hare" checked>Snowshoe Hare</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Deer" checked>Deer</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Elk" checked>Elk</mat-button-toggle>
                    <mat-button-toggle fxFlex="50%" value="Wolf" checked>Wolf</mat-button-toggle>
                    <mat-button-toggle fxFlex="100%" value="Other" checked>Other</mat-button-toggle>
                </mat-button-toggle-group>

                <div class="countsection">
                    <h4>Animal Count: {{animalcountslider.value}}</h4>
                </div>
                <mat-slider #animalcountslider
                class="example-margin mat-slider-thumb-label-showing cdk-mouse-focused"
                thumbLabel
                [max]="10"
                [min]="0"
                [step]="1"
                [tickInterval]="1"
                [(ngModel)] = "animalcount"
                >
                </mat-slider>
                <div class="buttonsection">
                    <button mat-raised-button (click)="submitdata()" color="primary">SUBMIT</button>
                    <button mat-raised-button (click)="submitskip()" color="primary">SKIP</button>
                </div>
            </div>
        </div>
    </div>
